*{
  margin: 0px;
  padding: 0px;
}
body{
  background-color: aquamarine;
  margin-top: 90px;
  margin-bottom: 90px;
}
.quoteBody{
  width: 450px;
  height: 350px;
  max-width:450px;
  display: flex;
  flex-direction: column;
  margin: auto;
  background-color: beige;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 3%;
  padding-bottom: 5%; 
  border-radius: 20px;    
  box-shadow: -10px -10px 20px rgb(184, 176, 176), 10px 10px 20px rgb(184, 176, 176);
}
.heading{
  font-family: 'Prompt', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.thickLine{
  height: 3px;
  width: 70px;
  background-color: turquoise;
}
.para{
  align-items: center;
  display: flex;
  width: 450px;
  height: 150px;
  font-family: 'Courgette', cursive;
  font-size: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
}
#quote{
  text-align: center;
}
.author{
  font-family: 'Prompt', sans-serif;
  display: flex;
  justify-content: right;
}
.authorLine{
  display: flex;
  flex-direction: column;
  height: 1.5px;
  width: 25px;
  background-color: turquoise;
  margin-right: 10px;
  margin-top: 10px;
}

.buttons{
  display: flex;
  align-items: center;
  justify-content: center;
}
button{
  font-family: 'Prompt', sans-serif;
  font-weight: bold;
  margin-top: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 25px;
  cursor: pointer;
}
.newQuote{
  color: white;
  margin-right: 10px;
  padding-left: 20px;
  padding-right: 20px;      
  background-color: rgb(29,155,240);
  border-width: 1px;
  border-color: rgb(5, 109, 178);
}
.tweet{
  padding-left: 33px;
  padding-right: 33px; 
  background-color: white;
  border-width: 1px;
  border-color: rgb(29,155,240);
}
button:hover{
  opacity: 0.85;
  box-shadow: 2px 2px 2px rgb(200, 223, 230),-2px -2px 2px rgb(200, 223, 230);
  transition:box-shadow,opacity 0.15s;
}
